<div class="post-wrapper">
  <div class="post-header">
    <div class="header">
      <h1><%= post&.title %> by <%= @user.name %></h1>
    </div>
    <div class="actions">
      <div class="likes">
        <%= form_with url: "/users/#{@user.id}/posts/#{post&.id}/likes/", :html => { :style => "display: inline;"}, method: :post, remote: true do |form| %>
          <%= form.hidden_field :author_id, value: @user.id %>
          <%= form.hidden_field :post_id, value: post&.id %>
          <%= form.submit "Like" %>
        <% end %>
        <span><%= post&.likes_counter %> Likes</span>
      </div>
      <%= link_to "Comment (#{post&.comments_counter})", "/users/#{@user.id}/posts/#{post&.id}/comments/new", :class => 'comment-link' %>
    </div>
  </div>
  <p style="post-content"><%= post&.text %></&>
</div>